<!-- **FOOTER** -->
<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu">
                <!-- routerLink del routing.module -->
                <li class="rk-menu__item"><a routerLink="about" class="rk-menu__link">About</a></li>
                <li class="rk-menu__item"><a routerLink="about" class="rk-menu__link">Contact</a></li>
            </ul>
            <p class="rk-footer__text rk-footer__copy ">
                <span class="ae-u-bold">© </span>
                <!-- propiedad "anio creada en el footer.component.ts" -->
                <span class="ae-u-bolder">{{ anio }} {{_mainData.info.nombre}} </span>
                All Right Reserved.
            </p>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center">
            <!-- [href] = " _mainData " -->
            <a target="_blank" [href]="_mainData.info.fb" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
                </svg>
            </a>
            <!-- [href] = " _mainData " -->
            <a target="_blank" [href]="_mainData.info.tw" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
                </svg>
            </a>
            <!-- [href] = " _mainData " -->
            <a target="_blank" [href]="_mainData.info.ig" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
                </svg>
            </a>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
            <p class="rk-footer__text rk-footer__contact ">
                <span class="ae-u-bold">Email: </span>
                <span class="ae-u-bolder">
                    <!-- {{ se inserta _mainData en el HTML }} -->
                    <a href="mailTo:{{_mainData.info.email}}" class="rk-dark-color ">{{_mainData.info.email}}</a>
                </span>
            </p>
            <!-- Theme by Pixeden - All Right Reserved. -->
            <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a></p>
        </div>
    </div>
</footer>